@model Swp4RestWeb.Models.Property

@{
    ViewData["Title"] = "PropertyDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PropertyDetail</h1>


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 rowedit">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9 rowedit">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3 rowedit">
            @Html.DisplayNameFor(model => model.SaleStatus)
        </dt>
        <dd class="col-sm-9 rowedit">
            @Html.DisplayFor(model => model.SaleStatus)
        </dd>
        <dt class="col-sm-3 rowedit">
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>
        <dd class="col-sm-9 rowedit">
            @Html.DisplayFor(model => model.SaleDate)
        </dd>
        <dt class="col-sm-3 rowedit">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class="col-sm-9 rowedit">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class="col-sm-3 rowedit">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-9 rowedit">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class="col-sm-3 rowedit">
            @Html.DisplayNameFor(model => model.Bathroom)
        </dt>
        <dd class="col-sm-9 rowedit">
            @Html.DisplayFor(model => model.Bathroom)
        </dd>
        <dt class="col-sm-3 rowedit">
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd class="col-sm-9 rowedit">
            @Html.DisplayFor(model => model.Views)
        </dd>
        <dt class="col-sm-3 rowedit">
            @Html.DisplayNameFor(model => model.UniqueFeature)
        </dt>
        <dd class="col-sm-9 rowedit">
            @Html.DisplayFor(model => model.UniqueFeature)
        </dd>
        <dt class="col-sm-3 rowedit">
            @Html.DisplayNameFor(model => model.ViewImage)
        </dt>
        <dd class="col-sm-9 rowedit">
            @Html.DisplayFor(model => model.ViewImage)
        </dd>
        <dt class="col-sm-3 rowedit">
            @Html.DisplayNameFor(model => model.FrontImage)
        </dt>
        <dd class="col-sm-9 rowedit">
            <img height="150px" src="~/img/@Model.FrontImage" />
        </dd>
        <dt class="col-sm-3 rowedit">
            @Html.DisplayNameFor(model => model.InsideImage)
        </dt>
        <dd class="col-sm-9 rowedit">
            <img height="150px" src="~/img/@Model.InsideImage" />
        </dd>
        <dt class="col-sm-3 rowedit">
            @Html.DisplayNameFor(model => model.SideImage)
        </dt>
        <dd class="col-sm-9 rowedit">
            <img height="150px" src="~/img/@Model.SideImage" />
        </dd>
        <dt class="col-sm-3 rowedit">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-9 rowedit">
            @if (Model.Status.Value == true)
            {
                <span>Active</span>
            }
            else
            {
                <span>Inactive</span>
            }
        </dd>
       
    </dl>
</div>
<div style="position:relative">
   
    <div class="mybtn">
        <a asp-action="Index" class="btn btn-dark">Back</a>
    </div>
</div>
