@model IEnumerable<TimeShareProject.Models.Property>

@{
    var layout = "_Layout.cshtml";

    if (User.Identity.IsAuthenticated)
    {
        var userRole = User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Role)?.Value;

        switch (userRole)
        {
            case "1": // Admin
                layout = "_AdminLayout.cshtml";
                break;
            case "2": // Staff
                layout = "_AdminLayout.cshtml";
                break;
            case "3": // User
                layout = "_Layout.cshtml";
                break;
            default:
                break;
        }
    }

    Layout = $"~/Views/Shared/{layout}";
}
<div id="propertyContainer" class="row flex-nowrap overflow-auto">
    @if (Model.Any())
    {
        @foreach (var p in Model)
        {
            if (p.Status.Value)
            {
                <div class="col-md-3 mb-3">
                    <form asp-action="SelectRoom" asp-controller="Reservations">
                        <input type="hidden" name="blockSelect" value="@ViewBag.BlockSelect" />
                        <input type="hidden" name="propertyId" value="@p.Id" />
                        <input type="hidden" name="saleStatus" value="@ViewBag.SaleStatus" />
                        <input type="hidden" name="projectId" value="@ViewBag.ProjectId" />
                        <input type="hidden" name="bedSelect" value="@ViewBag.BedSelect" />
                        <div class="card" style="height: 350px;">
                            <div> <h5 class="card-title">@p.Name</h5></div>
                            <div><p class="card-text">Beds: @p.Beds</p></div>
                            <div><p class="card-text">Ocupancy: @p.Occupancy</p></div>
                            <div><p class="card-text">Size: @p.Size</p></div>
                            <img src="~/img/@p.InsideImage" height="150px" />
                            <p>Block number: @ViewBag.BlockSelect</p>
                            <p>@ViewBag.SaleStatus</p>
                  

                            <button type="submit" name="select">Select Room</button>
                        </div>
                    </form>
                </div>
            }
        }
    }
    else
    {
        <h2>There's no available properties</h2>
    }
</div>
<div style="margin-top=20px">
    <form asp-action="GetProject" asp-controller="Projects">
        <input type="hidden" name="ID" value="@ViewBag.ProjectId" />
        <button type="submit" class="btn btn-dark">Back</button>
    </form>
</div>
