@model IEnumerable<TimeShareProject.Models.Contact>

@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Contact List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    <select class="status-select" id="status_@item.Id" @if (item.Status)
                    {
                        <text>disabled</text>
                    }>
                        @if (item.Status)
                        {
                            <option value="true" selected>Contacted</option>
                        }
                        else
                        {
                            <option value="false">Not Contacted</option>
                            <option value="true">Contacted</option>
                        }
            </select>
                </td>
                <td>
                    <button class="btn btn-dark" onclick="updateStatus('@item.Id')">Update Status</button>
                    <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        function updateStatus(id) {
            var statusSelect = document.getElementById("status_" + id);
            var status = statusSelect.value === 'true';
            var data = { id: id, status: status };

            $.ajax({
                type: "POST",
                url: "/Contacts/UpdateContactStatus",
                data: data,
                success: function (response) {
                    //alert("Status updated successfully");
                    Notiflix.Notify.success('Status updated successfully');
                    // Disable the select element after successful update
                    statusSelect.disabled = true;
                    // Optionally, you can update the status display in the table without refreshing the page
                },
                error: function () {
                    //alert("Error updating status");
                    Notiflix.Notify.failure('Error updating status');
                }
            });
        }
    </script>
}
